* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

@media (max-width: 1200px) {
  body,
  html {
    overflow-x: hidden;
  }
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; /* Evita rolagem da página */
}
